* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: #252525;
    font-family: sans-serif;
    margin-top: 20px;
}

h1 {
    color: #252525;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px #b4b4b4;

}

.aplicacion-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Lista de tareas */

.tareas-lista-principal {
    width: 550px;
    min-height: 500px; /* tiene una altura minima para que cuando haya muchas tareas la altura se expanda */
    background-color: rgb(247, 247, 247);
    padding: 25px;
    margin: 10px;
}

footer {
    margin-top: 30px;
    color: white;
}

@media only screen and (max-width: 768px) {
    html,
    body {
        margin-top: 20px;
        background-color: #b4b4b4;
    }
    .tareas-lista-principal {
        width: 100%;
        min-height: 550px;
        margin: 0;
    }
    footer {
        color: #252525;
    }
}